
@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <nav class="navbar" style="padding: 7px 13px 1px 10px;">
            <LoginDisplay />
        </nav>
        <div class="content">
            <MudPaper Class="flex-auto pa-2 mudpaper-calc mtop-5px" Elevation="1">
                @Body
            </MudPaper>
        </div>
    </div>
</div>
